---
import { drizzle } from "drizzle-orm/d1";

import { todo } from "../../db/schema";
import { Todo, type TodoProps } from "../components/todo";

const APP_DB = Astro.locals.runtime.env.APP_DB;

const { user } = Astro.locals;

let todos: TodoProps["todos"] = [];

try {
  const db = drizzle(APP_DB);
  todos = await db.select().from(todo);
} catch (err) {
  console.warn("Internal error getting todos", err);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <div>
    {
      !user ? (
        <div>
          <div>
            <a href="login/github"> Sign in with GitHub</a>
          </div>
          <div>
            <a href="login/google"> Sign in with Google</a>
          </div>
        </div>
      ) : (
        <>
          <div> Hello {user.userName} </div>
          <form method="post" action="/logout">
            <button>Sign out</button>
          </form>
        </>
      )
    }
  </div>
  <body>
    <Todo client:load todos={todos} />
  </body>


</html>
