---
import { drizzle } from "drizzle-orm/d1";

import { message } from "../../db/schema";
import { Messages, type MessagesProps } from "../components/messages";

const APP_DB = Astro.locals.runtime.env.APP_DB;

const { user } = Astro.locals;

let messages: MessagesProps["messages"] = [];

try {
  const db = drizzle(APP_DB);
  messages = await db.select().from(message);
} catch (err) {
  console.warn("Internal error accessing messages", err);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Fullstack Cloudflare with Astro.js</title>
  </head>

  <div>
    {
      !user ? (
        <div>
          <div>
            <a href="login/github"> Sign in with GitHub</a>
          </div>
          <div>
            <a href="login/google"> Sign in with Google</a>
          </div>
        </div>
      ) : (
        <>
          <div> Hello {user.userName} </div>
          <form method="post" action="/logout">
            <button>Sign out</button>
          </form>
        </>
      )
    }
  </div>
  <body>
    {
      user ? (
        <Messages client:load messages={messages} />
      ) : (
        <div>Sign in to post a message</div>
      )
    }
  </body>


</html>
