---
import { drizzle } from "drizzle-orm/d1";

import { todo } from "../../db/schema";
import { Todo } from "../components/todo";

const APP_DB = Astro.locals.runtime.env.APP_DB;

let todos: {
  id: number;
  text: string;
}[] = [];

try {
  const db = drizzle(APP_DB);
  todos = await db.select().from(todo);
} catch (err) {
  console.log("Uncaught error!", err);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Todo client:load todos={todos} />
  </body>
</html>
